:root {
    --accent-color: #315efb;
    --secondary-color: #eff5ff;
    --text-color: #343B4C;
    --secondary-text-color: #777E98;
    --bg-color: #fff;
    --border-radius: 20px;
    --font-family: "Manrope", sans-serif;
}